@{
    var Roles = (List<Role>)ViewBag.Roles;
}

@model AddUserRoleDto

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-md-offset-1">
                    <div class="card">
                        <div class="card-header">Thêm mới role</div>
                        <div class="card-body">
                            <form method="post" asp-action="InsertUserRole">
                                <div asp-validation-summary="All" class="text-danger validationsummary"></div>
                                <input type="hidden" class="form-control" asp-for="UserId" value="@(Model.UserId)" required>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="Username" class="control-label mb-1">Tên tài khoản</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input id="username" asp-for="Username" value="@(Model.Username)" readonly class="form-control">
                                        <span asp-validation-for="Username" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="RoleName" class=" form-control-label">Vai trò</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select asp-for="RoleName" id="groupId" class="form-control">
                                            @foreach (var role in Roles)
                                            {
                                                <option value="@role.Name">@role.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="table-data__tool">
                                                <div class="table-data__tool-cxvz*">
                                                    <button id="save-button" type="submit" class="au-btn au-btn-icon au-btn--green au-btn--small">
                                                        <i class="fa fa-save fa-lg"></i>&nbsp;
                                                        <span id="button-save">Lưu</span>
                                                    </button>
                                                    <a href="@Url.Action("Configure", "AssignRole", new { id = Model.UserId })" class="au-btn au-btn-icon au-btn--green au-btn--small">
                                                        <button id="cancel-button" type="button">
                                                            <i class="fa fa-close fa-lg"></i>&nbsp;
                                                            <span id="button-save">Trở về</span>
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
